.background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #e6ffff;
  width: 100%;
  min-height: 100vh;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

.header-menu {
  margin-top: 0;
  height: 3em;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: #2286c3
}

.b-button-sm {
  width: 1em;
}

.img {
  height: 1em;
}

h1{
  text-align: center;
}

.signup {
  padding: 1em;
  position: relative;
  overflow: hidden;
}

form {
  padding: 20px 50px 20px 20px;
}

form .form-group {
  display: flex;
  flex-direction: column;
  font-size: .9em;
  margin: 0 0 20px 0;
}

.form-group input[type="text"], 
.form-group input[type="password"] {
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0.4em;
}

form .form-group:last-child {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}