@font-face { font-family: open-sans; src: url('OpenSans-Regular.ttf'); } 
@font-face { font-family: lato; src: url('Lato-Regular.ttf'); } 
.fondo{
    background-color:  rgba(124, 110, 110, 0.548);
    font-family: open-sans;
    color: white;
}
.date{
    margin: 25px;
    font-size: 60;
  }
.hora{
    font-size: 50;
    position:absolute;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 220px;
    height: 80px;
    background-color:#02C6D1;
    right: 0;
}
.tags{
    font-size: 35;
    position: relative;
    display: flex;
    align-items: flex-end;
    color: #52595B;
    background-color: rgb(245, 243, 243);
  }
.descripcao{
    margin: 25px;
    font-size: 35;
    display: flex;
    position: relative;
    align-items: flex-start;
  }
.title{
    margin: 25px;
    font-size: 60;
    display: flex;
    align-items: center;
  }
.boxed {
    margin: 25px;
    background-color:#0095AD;
    position: relative;
  }
.boxed img{
    height: 450px;
    width: 100%;
    object-fit: cover;
}


.fondo{
    background-color:  #64b5f6;
    font-family: Verdana;
}
.horario{
    margin: 25px;
    font-size: 45;
    display: flex;
    align-items: center;
}
.tags{
    margin: 25px;
    font-size: 35;
    position: relative;
    display: flex;
    align-items: flex-end;
    bottom: 10px;
    color: rgb(94, 89, 89);
  }
.descripcao{
    margin: 25px;
    font-size: 15;
    display: flex;
    position: relative;
    align-items: flex-start;
  }
.title{
    margin: 25px;
    font-size: 60;
    display: flex;
    align-items: center;
  }
.boxed {
    margin: 25px;
    background-color:#82b3c9;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
  }
.boxed img{
    height: 450px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.header-menu {
  margin-top: 0;
  height: 3em;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: #2286c3
}

.b-button-sm {
  width: 1em;
}

.img {
  height: 1em;
}

.h1, .h2, .h3, .h4, .h5, .h6, .h7, .h8 {
  color: black;
}