@font-face { font-family: open-sans; src: url('OpenSans-Regular.ttf'); } 
@font-face { font-family: lato; src: url('Lato-Regular.ttf'); } 
.fondo{
    background-color:  rgba(124, 110, 110, 0.548);
    font-family: open-sans;
    color: white;
}
.date{
    margin: 25px;
    font-size: 60;
  }
.hora{
    font-size: 50;
    position:absolute;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 220px;
    height: 80px;
    background-color:#02C6D1;
    right: 0;
}
.tags{
    font-size: 35;
    position: relative;
    display: flex;
    align-items: flex-end;
    color: #52595B;
    background-color: rgb(245, 243, 243);
  }
.descripcao{
    margin: 25px;
    font-size: 35;
    display: flex;
    position: relative;
    align-items: flex-start;
  }
.title{
    margin: 25px;
    font-size: 60;
    display: flex;
    align-items: center;
  }
.boxed {
    margin: 25px;
    background-color:#0095AD;
    position: relative;
  }
.boxed img{
    height: 450px;
    width: 100%;
    object-fit: cover;
}
